<!-- -->
<launch>

  <arg name="ars_msf_state_estimator_node_name"   default="ars_msf_state_estimator_node" />
  <arg name="screen"  default="screen" />


  <node name="$(arg ars_msf_state_estimator_node_name)" pkg="ars_msf_state_estimator" type="ars_msf_state_estimator_ros_node.py" output="$(arg screen)" >


  </node>


</launch>